/*
Covention
1. Position
2. Box-model
3. Typography
4. Visuals
5. Others - Miscellaneous
*/ 

:root {
    --aquamarine: hsl(177,68%,64%);
    --orange: hsl(12,94%,65%);
    --yellow: hsl(33,100%,70%);
    --white: hsl(20,33%,98%);
    --darkblue: hsl(244,23%,12%);
}
* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}
html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    width: 100%;
    background-image: url('../assets/bg-main-mobile.png');
    background-position: 30px -200px;
    background-size: 600px 700px;
    background-repeat: no-repeat;
}
.main-container {
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: 600px;
}
.main-article--container {
    width: 90%;
    margin: 0 auto;
}
.main-article--container h1 {
    padding-top: 40px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--darkblue);
}
.main-article--container h2 {
    margin-top: 60px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(--darkblue);
}
.main-article--container p {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.45px;
    color: var(--darkblue);
}
.section__container {
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: 400px;
    background-image: url('../assets/bg-pattern-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: var(--darkblue);
    border-radius: 10px;
}
.section__image-container {
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
}
.section__image-container img {
    transform: translateY(-90px);
    width: 100%;
    height: 100%;
}
.article__container {
    transform: translateY(-50px);
    width: 100%;
    height: 546px;
    background-color: var(--orange);
    border-radius: 10px;
}
.article__letters-container {
    width: 80%;
    margin: 0 auto;
}
.article__letters-container h2 {
    padding-top: 40px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--white);
}
.article__letters-container p {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--white);
}
.article__letters-container span {
    display: inline-block;
    margin-top: 32px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
}
.article__letters--price {
    display: flex;
}
.article__letters-container .month {
    margin-left: 15px;
    padding-top: 10px;
    align-self: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0.2px;
    color: var(--white);
}
.btn-container {
    display: flex;
    flex-direction: column;
    
}
.btn-container .btn {
    width: 100%;
    height: 61px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.btn-container .btn--icon-ios {
    width: 35px;
    height: 20px;
    margin-top: 0;
    background-image: url('../assets/icon-apple.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.btn-container .btn--ios {
    margin-top: 32px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.18px;
    background-color: var(--darkblue);
    color: var(--white);
}
.btn-container .btn--icon-android {
    margin-top: 0;
    width: 35px;
    height: 20px;
    background-image: url('../assets/icon-android.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.btn-container .btn--android {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.18px;
    background-color: var(--white);
    color: var(--darkblue);
}
footer {
    width: 100%;
    height: 450px;
}